STEAMCMD_BIN=/usr/games/steamcmd
AR_SERVER_APPID=1874900
AR_SERVER_INSTALL_DIR=/srv/arma-reforger-server
AR_SERVER_PROFILE_DIR=/srv/arma-reforger-server/profile
AR_SERVER_CONFIG_PATH=/srv/arma-reforger-server/profile/config.json
AR_SERVER_BIN=ArmaReforgerServer
AR_SERVER_ARGS="-maxFPS 60"
